{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="text-center">
    <h1>
        Hello, my friend. </br>Stay awhile and listen.
    </h1>
</div>
    <p>
        For those of you who found my greeting a little too familiar, you probably played one of my favorite games ever: Diablo. I'm very sorry for what Blizzard did to Diablo 3, but that's another story.
    </p>
    <p>
        I'm a brazilian developer who have never had the opportunity to play with web development professionally. At least not with the technologies I wanted… So this site is a personal site which I test my stuff in with the tech I want :p . This is the way that I found to keep up to date with new tech and to keep writing code, which is something that I love doing and don't have that much time to do it.
    </p>
    <p>
        Maybe one day I'll post something interesting on the blog part of this site, but that’s something I don’t expect doing. As the great majority of Brazil’s population, I’m a very busy man, head of a family of 3 plus 3 dogs, so, it turns out our family has 6 members. Yes, my dogs are my family too. And yes, I’ll post their photos here because they’re cute. And because this is my site and I do what I want here. Except when my wife doesn’t let me. And because my dogs are cute. 
    </p>
    <p>In case you're wondering about my dogs, let me free your mind for something else by showing you how cute they are. Take a peek :).</p>
    <div class="text-center">
        <img alt="Topoo, Bochecha and Chappie." height="400px" class="img-rounded" src="{% static "imgs/TopooBochechaChappie.png" %}"/>
        <div class="caption">Topoo, bochecha and Chappie. A happy family!</div>
    </div>
    <p>See? I told you!</p>

{% endblock %}
