body {
    background-color: white;
}
.content_wrapper {
    max-width: 1024px;
    margin: auto;
    margin-top: 60px;
}

.personal_ad_bar {
    border-top-left-radius: 5px;
    background-color: #96a0b5;
    background-color: #eee;
    height: 150px;
    border-top-right-radius: 5px;
}

.personal_ad_bar .profile_img {
    float: left;
}
.personal_ad_bar .profile_img img{
    height: 128px;
    border: solid aliceblue;
    margin-top: 12px;
}
.personal_ad_bar .profile_info {
    float:left;
    margin-top: 20px;
    padding-left: 20px;
    border: none;
    text-align: left;
}

.personal_ad_bar .profile_social_media {
    margin-top: 46px;
    margin-right: 10px;
    float: right;
}
.personal_ad_bar .profile_social_media img {
    height: 56px;
    border: solid aliceblue 1px;
}
.personal_ad_bar .profile_social_media a:hover {
    text-decoration: none;
}
.content_main {
    background-color: #96a0b5;
    background-color: #eee;
    margin-top: 10px;
    padding-right: 40px;
    padding-left: 20px;
    padding-bottom: 100px;
}
.content_main img {
    border: solid aliceblue;
}

.content_main .plain_img {
    border: none;
}

.container {
    max-width: 1024px;
    padding-right: 5px;
}

.navbar-right {
    margin-right: 05px; 
}

.foot_notice {
    text-align: center;
    color: #777;
    height: 64px;
}
.foot_notice a:hover {
    text-decoration: none;
}

.foot_notice img {
    height: 32px;
}
p {
    text-indent: 25px;
