body {
    background-color: #36425D;
}
.content_wrapper {
    max-width: 1024px;
    margin: auto;
    margin-top: 60px;
}

.personal_ad_bar {
    border: 2px groove #122A60;
    border-radius: 5px;
    background-color: #4C5874;
    height: 150px;
}

.content_main {
    border: 2px groove #122A60;
    border-radius: 5px;
    background-color: #4C5874;
    margin-top: 10px;
}

.container {
    max-width: 1024px;
    padding-right: 5px;
}

.navbar-right {
    margin-right: 05px; 
}

.foot_notice {
    text-align: center;
    color: #777;
    height: 64px;
}

.foot_notice img {
    height: 32px;
}
